# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore

# Build artifacts
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Dependencies
node_modules/
vendor/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# README backup
README-old.md
